// Start Primary Font Family
$td__primary-font: "Inter", sans-serif;
// End Primary Font Family

// Start Secondary Font Family
$td__secondary-font: "Lexend", sans-serif;
// End Secondary Font Family

// Start Template Color Plate
$td__primary-color: #FDD702;
$td__secondary-color:#222;
$td__white:#ffffff;
$td__light-white:#F6F6F6;
$td__white-02:#EDEDED;
$td__dark-01:#2B2B2B;
$td__dark-02:rgba(255, 255, 255, 0.06);
$td__dark-03:#282828;
// End Template Color Plate

